PORT=5000
MONGODB_URI=your_mongodb_atlas_connection_string
POSTGRES_URI=postgresql://user:password@localhost:5432/ciphersqlstudio
LLM_API_KEY=your_gemini_or_openai_api_key
# Use "gemini"
LLM_PROVIDER=gemini
VITE_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
VITE_SUPABASE_PUBLISHABLE_KEY=<SUBSTITUTE_SUPABASE_PUBLISHABLE_KEY>
